



.main
{
    min-height: 1000px;
  width: 100%;
  margin: 0 auto;
  
}

.col1
{
    width: 100%;
  min-height: 800px;
  display: inline-block;
  float: left;
}

.col2
{
  width: 100%;
  min-height: 800px;
  display: inline-block;
}

.row1 .col1
{
  background: rgba(238,238,34,0.3) url("1.jpg") !important;
    //background-position: left !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    background-attachment: fixed !important;
}

.row2 .col1
{
    background: rgba(238,238,34,0.3) url("2.jpg") !important;
    background-position: left !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    background-attachment: fixed !important;
}

.row3 .col1
{
    background: rgba(238,238,34,0.3) url("3.jpg") !important;
    background-position: left !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100%  !important;
    background-attachment: fixed !important;
}

@media(max-width: 768px){
    .row1 .col1{background-position: left!important;background-size: 2000px 1125px!important;}
    .row2 .col1{background-position: left !important;background-size: 2000px 1133px!important;}
    .row3 .col1{background-position: left !important;background-size: 2000px 1500px!important;}
}